<div class="calculator">
  <p>number is :{{a}}</p>
<input type="text" [(ngModel)]="a" class="screen" />
<input type="text" class="operator-screen" value=""/>
<input type="text" [(ngModel)]="b" class="screen" value="0"/>
<div class="keys">
<button type="button" value="+">+</button>
<button type="button" value="-">-</button>
<button type="button" value="*">x</button>
<button type="button" value="/">/</button>
<ng-container *ngFor="let number of numbers">
  <button type="button"(click)="addDigit(number)" > {{number}}</button> 
</ng-container>
<button type="button" class="clear_button" value="clear">C</button>
<button type="button" class="equal_button" value="=">=</button>
</div>

</div>
