.calculator{
  border: 2px solid #000000;
  border-radius: 5px;
  width: 400px;

}
.screen{
  background-color: black;
  color: white;
  text-align: right;
  font-size: 20px;
}
button{
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 3px;
  height: 25px;
  width: 25px;
}
.operator-screen{
  width: 30px;
  background-color: black;
  font-size: 20px;
  color:white;
  margin: 3px;
}

button:hover{
  background-color: darkgray;
}

.clear_button{
  background-color: red;
  border: 1px solid darkgray;
  border-radius: 3px;
  height: 25px;
}

.clear_button:hover{
  background-color: tomato;
}
.equal_button{
  background-color: blue;
  border: 1px solid darkgray;
  border-radius: 3px;
  height: 25px;
}
.equal_button:hover{
  background-color: teal;
}

.keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  padding: 20px;
}
